{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/login.css'%}">
</head>
<body>
    <img src="{% static '/images/background.jpeg' %}" alt="Background Image" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: -1; opacity:0.3;">
    <div class="login-container">
        <div class="illustration-section">
            <div>
                <img src="{% static '/images/nss.png' %}" alt="Illustration" />
            </div>
        </div>
        <div class="form-section">
            <div class="custom-form-container">
                <div class="heading"><b style="color:rgb(7, 7, 44)">NSSMS</b></div>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div style="position:relative;">
                        <i class="fas fa-user fa-fw"></i>
                        <input type="text" name="username" placeholder="Username" class="custom-input">
                    </div>
                    <div style="position:relative;">
                        <i class="fas fa-lock fa-fw"></i>
                        <input type="password" name="password" placeholder="Your Password" class="custom-input">
                    </div>
                    <input type="submit" value="Log in" class="custom-submit">
                    {% if form.errors %}
                    <div style="color:red">{{ form.non_field_errors }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>