table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table */
}

td, th {
    padding: 10px;
    border: 1px solid #dddddd;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}

img {
    border-radius: 50%;
}

#link {
    display: block;
    margin-top: 20px;
    text-align: center; /* Center the link */
}
