{% extends 'nss/base.html' %}
{% load static %}
{% block title %}
    View Events
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/view_volunteer.css' %}">
</head>
<table class="table-container">
    <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Description</th>
        <th style="text-align: center;">Actions</th>
    </tr>
    {% for camp_event in camp_events %}
    <tr>
        <td>{{ camp_event.event.event_name|title }}</td>
        <td>{{ camp_event.event.date }}</td>
        <td>{{ camp_event.des }}</td>
        <td>
            <div class="button-container">
                <a class="button" href="{% url 'edit_camp_event' camp_event.event.event_id %}">Edit</a>
                <a class="button" href="{% url 'delete_event' camp_event.event.event_id %}">Delete</a>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
