{% extends 'nss/base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/add_event.css' %}">
</head>

{% if request.GET.message %}
    <p align="center" style="color:green">{{ request.GET.message }}</p>
{% endif %}

<form class="add-event-form" method="post" action="{% url 'edit_camp_event' event.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="event_name">Event Name:</label>
    <input type="text" id="event_name" name="event_name" value="{{ event.event_name }}" required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="{{ event.date|date:'Y-m-d' }}" required>

    <!-- Event Details -->
    <label for="description">Description:</label>
    {% if camp_event_details %}
        <textarea id="description" name="description" required>{{ camp_event_details.des }}</textarea>
    {% else %}
        No Description added yet. <a href="{% url 'event_details' %}">Add Description</a>
    {% endif %}
    <br><br>

    <label for="photo">Image:</label>
Current Images Uploaded are:<br>
{% if event.camp_eventphotos.all %}
    {% for photo in event.camp_eventphotos.all %}
        <a href="{{ photo.photo.url }}" target="_blank">Image {{ forloop.counter }}</a> -- 
        <a href="{% url 'delete_camp_images' photo.id event.pk %}" onclick="return confirm('Are you sure you want to delete this image?')">Delete</a><br>
    {% endfor %}
{% else %}
    No images uploaded yet.
{% endif %}
<br>

    <a href="{% url 'event_photos' %}">Upload Images</a>
    <br><br>

    <input type="submit" value="Update">
    <input type="reset" value="Reset">
</form>


{% endblock %}
