{% extends 'nss/base.html' %}
{% load static%}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/event_photos.css'%}">
</head>

<form class="event-picture-forms" method="post" action="{% url 'event_photos' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="event_name">Event:</label>
    <select id="event_name" name="event_name">
        <option value="" disabled selected>----</option>
        {% for i in even %}
        <option value="{{ i.event_name }}">{{ i.event_name }}</option>
        {% endfor %}
    </select>

    <label for="photo">Image:</label>
    <input type="file" id="photo" name="photo"> 

    <input class="buttons" type="submit" value="Upload">
    <input class="buttons" type="reset" value="Reset">
</form>
{% endblock %}
