{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <div class="header">
    <h1>NSS NASC</h1>
  </div>
  
  <nav>
    <ul>
      <li>
        <a href="{% url 'ns' %}">Home</a>
      </li>
      <li class="dropdown">
        <a href="#">Volunteer</a>
        <div class="dropdown-content">
          <a href="{% url 'add_volunteer' %}">Add Volunteer</a>
          <a href="{% url 'view_volunteer' %}">View Volunteer</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">Event</a>
        <div class="dropdown-content">
          <a href="{% url 'add_event' %}">Add Event</a>
          <a href="{% url 'event2' %}">Events</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">Attendance</a>
        <div class="dropdown-content">
          <a href="{% url 'att3' %}">Add Attendance</a>
          <a href="{% url 'view_attendance' %}">View Attendance</a>
        </div>
      </li>
      <li>
        <a href="{% url 'report_list' %}">Report</a>
      </li>
    </ul>
  </nav>
  
  <form class="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <input class="logout-button" type="submit" value="Logout">
  </form>
  
  <br><br>
  
  {% block content %}
  {% endblock %}
</body>
</html>
