{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/event_details.css'%}">
</head>

<form class="event-form" method="post">
    {% csrf_token %}
    <label for="event_name">Event:</label>
    <select id="event_name" name="event_name">
        <option value="" disabled selected>----</option>
        {% for i in even %}
        <option value="{{i.event_name}}">{{i.event_name}}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="des">Description:</label><br>
    <textarea id="des" name="des"></textarea>
    <br><br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</form>
{% endblock %}
