{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/full_attendance.css' %}">
</head> 
<table border="1px">
    <tr>
        <th>SL.No</th>
        <th>Name</th>
        <th>Programme</th>
        <th>total hours</th>
        <th>Event</th>
    </tr>
    
    {% for i in vol %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.program }}</td>
        <td>{{i.total_hours}}</td>
        <td><a href="{% url 'more_attendance' i.volunteer_id %}">More</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
