{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/full_attendance.css' %}">
</head> 
<table border="1px">
    <tr>
        <th>SL.No</th>
        <th>Name</th>
        <th>Programme</th>
        <th>Event</th>
        <th>total hours</th>
    </tr>
    
    {% for i in vol %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.program }}</td>
        <td>
    {% for attendance in i.attendances.all %}
        {{ attendance.event.event_name }},
    {% endfor %}
        </td>
    <td>
        {{i.totalhours}}
    </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
