{% extends 'nss/base.html'%}
{% load static %}
{% block title %}
    attendance
{% endblock%}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/add_attendance.css'%}">
  
</head> 
    <form action="{% url 'attendance' event.event_id unit %}" method="post">
    {% csrf_token %}
    <div class="volunteer-form">
    <center>
        <h1>{{event.event_name | title }}</h1>
        <h3>Unit-{{unit}}</h3>
    </center>
    <label for="date">Date</label>
    <input type="date" name="date" id="date">
    <label for="time">Number of hours</label>
    <input type="number" name="time" id="time">
    </div>
    <div class="div1" action="{% url 'attendance'}">
        {% for i in pog %}
        <div class="program-block">
            {% for k in list %}
            <div class="list-block">
                <center><span class="year-text" style="background-color: rgb(0, 0, 138); color: white;">{{i.program_name}} - Year {{k}}</span></center><br>
                {% for j in vol %}
                    {% if i.program_name == j.program.program_name and j.year == k %}
                        <div class="checkbox-label">
                            <input type="checkbox" id="volunteer_{{ j.volunteer_id }}" name="volunteers" value="{{ j.volunteer_id }}">
                            <label for="volunteer_{{ j.volunteer_id }}">{{ j.name }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <input type="submit" value="submit" class="submit">
</form>
{% endblock%}