{% extends 'nss/base.html' %}
{% load static %}

{% block title %}
    View Volunteers
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/view_volunteer.css' %}">
</head>

<div class="table-container">
    <form method="get">
        <div class="form-row">
            <label for="id_name">Name:</label>
            {{ filter.form.name }}
        </div>
        <div class="form-row">
            <label for="id_program">Program:</label>
            {{ filter.form.program }}
        </div>
        <div class="form-row">
            <label for="id_location">Sex:</label>
            {{ filter.form.sex }}
        </div>
        <div class="form-row">
            <label for="id_unit">Unit:</label>
            {{ filter.form.unit }}
        </div>
        <div class="form-row">
            <label for="id_community">Community:</label>
            {{ filter.form.community }}
        </div>
        <div class="form-row">
            <label for="id_community">Blood Group:</label>
            {{ filter.form.blood_group }}
        </div>
        <div class="form-row">
            <label for="id_community">Year of Enrollement:</label>
            {{ filter.form.year_of_enrollment }}
        </div>
        <div class="form-row">
            <label for="id_community">Year:</label>
            {{ filter.form.year }}
        </div>
        <input type="submit" value="Search">
    </form>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Programme</th>
            <th>Actions</th>
        </tr>
        
        {% for volunteer in page_obj.object_list %}
        <tr>
            <td>{{ volunteer.name }}</td>
            <td>{{ volunteer.program.program_name }}</td>
            <td>
                <div class="button-container">
                    <a class="button" href="{% url 'volunteer_details' volunteer.volunteer_id %}">More</a>
                    <a class="button" href="{% url 'edit_volunteer' pk=volunteer.volunteer_id %}">Edit</a>
                    <a class="button delete-btn" href="{% url 'delete_volunteer' pk=volunteer.volunteer_id %}">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{% if filter.form.data %}{{ filter.form.data.urlencode }}&{% endif %}page=1">&laquo; first</a>
                <a href="?{% if filter.form.data %}{{ filter.form.data.urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?{% if filter.form.data %}{{ filter.form.data.urlencode }}&{% endif %}page={{ page_obj.next_page_number }}">next</a>
                <a href="?{% if filter.form.data %}{{ filter.form.data.urlencode }}&{% endif %}page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
