{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" href="{% static '/css/view_attendance.css'%}">
</head>
    <div class="form-container">
        <form method="post" action="{% url 'view_attendance2' %}">
            {% csrf_token %}
            <label for="event">Select Event:</label>
            <select id="event" name="event">
                <option>---------</option>
                {% for i in even %}
                    <option value="{{ i.event_name }}">{{ i.event_name|title }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
        <h1 class="event-heading">Selected Event: {{ selected_event|title }}</h1>
        <table class="attendance-table" border="1">
            <tr>
                <th>Name</th>
                <th>Department</th>
            </tr>
            {% for i in resul %}
                <tr>
                    <td>{{ i.volunteer.name }}</td>
                    <td>{{ i.department }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="full-report">
            <a href="{% url 'view_attendance' %}">View Full Attendance Report</a>
        </div>
    </div>
{% endblock %}
