{% extends 'nss/base.html' %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" href="{% static '/css/view_attendance.css'%}">
</head>
<script>
    // Function to set the selected option in the dropdown based on the query parameter
    function setSelectedEvent() {
        const urlParams = new URLSearchParams(window.location.search);
        const eventId = urlParams.get('event');
        if (eventId) {
            document.getElementById('event').value = eventId;
        }
    }

    // Call the function when the page loads
    window.onload = setSelectedEvent;
</script>
    <div class="form-container">
        <form method="post" action="{% url 'view_attendance2' %}">
            {% csrf_token %}
            <label for="event">Select Event:</label>
            <select id="event" name="event">
                <option>---------</option>
                {% for i in even %}
                    <option value="{{ i.event_name }}">{{ i.event_name|title }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
        <h1 class="event-heading">Selected Event: {{ selected_event|title }}</h1>
        <table class="attendance-table" border="1">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Status</th>
            </tr>
            {% for i in resul %}
                <tr>
                    <td>{{ i.volunteer.name }}</td>
                    <td>{{ i.department }}</td>
                    <td>{{i.status}}</td>
                    {% if is_po_group %}
                    <td><a href="{% url 'approve_attendance' i.Attendance_id %}"> Approve</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <div class="full-report">
            <a href="{% url 'view_attendance' %}">View Full Attendance Report</a>
        </div>
    </div>
{% endblock %}
