{% extends 'nss/base.html' %}
{% load static%}
{% block title %}
    view_volunteer
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/view_volunteer.css' %}">
</head>

<div class="table-container">
    <table>
        <tr>
            <th>Name</th>
            <th>Programme</th>
            <th>Actions</th>
        </tr>
        
        {% for i in volunteer %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.program.program_name }}</td>
            <td>
                <div class="button-container">
                    <a class="button" href="{% url 'volunteer_details' i.volunteer_id %}">More</a>
                    <a class="button" href="{% url 'edit_volunteer' pk=i.volunteer_id %}">Edit</a>
                    <a class="button" href="{% url 'delete2' i.volunteer_id %} ">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
